@import './_variables.scss';

.esh-app {
    &-footer {
        $margin: 2.5rem;
        $padding: 2.5rem;

        background-color: var(--color-background-darker);
        border-top: $border-light solid var(--color-border-light);
        margin-top: $margin;
        padding-bottom: $padding;
        padding-top: $padding;
        width: 100%;
        bottom: 0;
        $height: 50px;
        color: var(--color-text-on-dark);

        &-brand {
            height: $height;
            width: 230px;
        }
    }

    &-header {
        margin: 15px;
    }

    &-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-background-primary);
    }
}