.esh-header {
  background-color: var(--color-brand, #00A69C);
  height: 4rem; }
  .esh-header-back {
    color: var(--color-foreground-on-dark-muted, rgba(255, 255, 255, 0.5));
    line-height: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.35s; }
    .esh-header-back:hover {
      color: var(--color-foreground-on-dark, #FFFFFF);
      transition: color 0.35s; }
